We are creating an OBDII diagnostic and command utility intended for use with a 2015 Ducati Scrambler motorcycle.

Requirements:
[R1 Runtime target]: The app shall run on a raspberry pi target with a 480x320 touchscreen display.
[R2 Hardware interface]: The app shall support the ELM327 PC-to-OBD hardware interface
[R2.1 Hardware interface detection]: The app shall autodetect an ELM327 connected to the raspberry pi via USB virtual com port
[R3 Communication protocol]: The app shall communicate to the vehicle using the ISO 11898 / ISO 15765-4 (OBD-II) protocol
[R4 ECU Target]: The app shall support the Continental M3C ECU for the 2015 Ducati Scrambler Icon 800 cc motorcycle
[R5 Status bar]: The app shall always display a status bar a the bottom of the screen with the ELM327 connection status, COM port ID, and a button to connect or disconnect
[R6 Tabbed GUI] The GUI shall have 4 tabs: Main, Service, Live, and About
[R7 Main Tab] Upon an successful connection the main tab will display the vehicle VIN read from the ECU, a list of any active fault codes
[R7.1 Main Tab no vehicle] If the ELM327 connection is successful, but no VIN can be retrieved the main tab shall indicate no vehicle detected.
[R8 About Tab] The about tab shall display the software version, and a copyright notice attributed to Bryan Hansen and GPL license information
[R9 Live tab] The realtime tab shall have 4 panels for the display of realtime ECU values, an single option for update frequency with a default of 1 second, and a button to start and stop realtime updates.
[R9.1 Live update panels] Each panel will allow the user to select one of the available values (or none) to display and an area for the associated numeric value labeled with the appropriate units.
[R9.2 Live tab enable] When a vehicle is successfully connected, the Live tab shall allow the user to start updates and indicate that realtime updates are active.
[R9.2 Live tab updates] When realtime updates are enabled, the app shall read the specified values from the ECU at the specified frequency and update the associated values in each of the 4 panels.
[R9.3 Live tab disable] When the user presses the button to stop realtime updates the app shall stop updating values from the ECU, indicate that updates are inactive, and continue to display the last measured values.
[R10 Service tab] When a vehicle is successful connected, the summary tab shall display the status of Oil service indicator, Desmo service indicator, OEM heated grip activation status, and the service interval read from the ECU.
[R10.1 Service tab no vehicle] If the ELM327 connection is successful, but communication with the ECU cannot be established, the service tab shall indicate no vehicle detected.

[R20 Logging] The app shall allow logging to be enabled via a configuration file input and when enabled will log details of all transactions between the app and the ECU to aid in debugging and troubleshooting.
[R20.1 Logging errors] If the log file is missing, the app shall create it automatically.
[R20.2 Logging connections] The app shall add a log entry for each ELM327 connection and disconnection; The entry for connection will include the connection details (device, baud rate, etc)
[R20.3 Logging capacity] The app shall maintain up to 5 separate log files where a new log is created each time the app is started and the oldest log is deleted automatically.
[R20.4 Log file naming] The app shall include the date and time in the log file name in the format YYYY_DD_MM_HH_MM_SS 

Constraints:
[C1]: The app will be written in python
[C2]: The raspberry pi target can be found at 192.168.68.186; Username: pi, Password: sup3rdup3r
